{% extends 'master.html' %}

{% block content %}

<h1>List Of Persons:</h1>

<div class="container">



{% for x in p %}
<div class="card" style="width: 18rem;">
    <img src="https://cdn-icons-png.flaticon.com/128/8089/8089114.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ x.name }}</h5>
      <p class="card-text">{{x.eid}}</p>
      <a href="pdetails/{{x.id}}" class="btn btn-primary">More Details</a>
    </div>
  </div>



{% endfor %}


<a class="btn btn-primary" href="/">Home Page</a>    
<a class="btn btn-success" href="/adduserpage">Add New Person</a>    

</div>
{% endblock %}